@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fortawesome/fontawesome-free";


@import "@fontsource/fira-sans";
@import "@fontsource/merriweather";


html,
body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #EDF1F4;
  color: #090015;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 26px;
  font-weight: 900;
}


h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
}


h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
}

p {
  font-family: 'Merriweather', serif;
}

label {
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}


.social-icon:hover path {
  fill: white;
}


.header .overlay {
  background: linear-gradient(360deg, rgba(21, 111, 117, 1) 5.82%, rgba(0, 0, 0, 0) 100%);
}
